<h1>results index</h1>

<section id="results">
	<span>Your origin word was:</span>
	<br>
	<%#= @image_url %>
	<%= image_tag @image_url %>
	<br>
	<%= @lastword.name %>

	<br>
	<br> 

	<span>Your Word Associations Are:</span>

	<section id="resultsArray">
		<% @wordresults.each do |word| %>
		<div class="result-container">
			<%= image_tag(word.url, :class => "img") %>
			
			
			<br>
			<div class="result-word">
				<%= word.result_word %>
			</div>
		</div>
		<br>
		<% end %>
	</section>
		

	
	
	<hr>
	<%#= image_tag @imageurl %>

	<!-- TESTING @result -->
</section>
