<h1>results index</h1>

<section id="results">
	<span>Your origin word was:</span>
	<br>
	<%#= @image_url %>
	<%= image_tag @image_url %>
	<br>
	<%= @lastword.name %>

	<br>
	<br> 

	<p>
		<span>Your Word Associations Are:</span>
		<br>
		<% @lastword.results.each do |word| %>
		<%= word.result_word %>
		<br>
		<% end %>

	</p>
	
	<hr>
	<%= image_tag @imageurl %>

	<!-- TESTING @result -->
</section>
