<h1>INDEX PAGE!</h1>

<%= form_tag words_path do %>
    <%= text_field_tag :inputwords %>
    <%= submit_tag "Send input" %>
<% end %>

<hr>
<%# finalwords = @response.body["associations"].split(/\s*,\s*/) %>
<%# finalwords.each do |word| %>
<%#= word %>
<!-- <br> -->
<%# end %>
<!-- <hr> -->
<%#= @response.body["associations"] %>
<!-- <hr> -->
<%# @response.body.each do |list| %>
		<%#= list %>

	<%# end %>
<!-- <hr> -->
<%#= @response.body %>