/*///////////////////////////////////////////*/
/*/// FONT FACE RULES TO ADD BELL GOTHIC ///*/
/*//////////////////////////////////////////*/
/* Webfont: BellGothicBT-Roman */
@font-face {
    font-family: 'Bell-Gothic-Roman';
    src: url('../fonts/BellGothicBT-Roman1.eot'); /* IE9 Compat Modes */
    src: url('../fonts/BellGothicBT-Roman1.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/BellGothicBT-Roman1.woff') format('woff'), /* Modern Browsers */
         url('../fonts/BellGothicBT-Roman1.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/BellGothicBT-Roman1.svg#BellGothicBT-Roman') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: BellGothicStd-Light */
@font-face {
    font-family: 'Bell-Gothic-Light';
    src: url('../fonts/BellGothicStd-Light1.eot'); /* IE9 Compat Modes */
    src: url('../fonts/BellGothicStd-Light1.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/BellGothicStd-Light1.woff') format('woff'), /* Modern Browsers */
         url('../fonts/BellGothicStd-Light1.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/BellGothicStd-Light1.svg#BellGothicStd-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}



/* Webfont: BellGothicStd-Bold */
@font-face {
    font-family: 'Bell-Gothic-Bold';
    src: url('../fonts/BellGothicStd-Bold1.eot'); /* IE9 Compat Modes */
    src: url('../fonts/BellGothicStd-Bold1.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/BellGothicStd-Bold1.woff') format('woff'), /* Modern Browsers */
         url('../fonts/BellGothicStd-Bold1.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/BellGothicStd-Bold1.svg#BellGothicStd-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: BellGothicStd-Black */
@font-face {
    font-family: 'Bell-Gothic-Black';
    src: font-url('../fonts/BellGothicStd-Black1.eot'); /* IE9 Compat Modes */
    src: font-url('../fonts/BellGothicStd-Black1.eot?#iefix') format('embedded-opentype'), 
         font-url('../fonts/BellGothicStd-Black1.woff') format('woff'), 
         font-url('../fonts/BellGothicStd-Black1.ttf') format('truetype'), 
         font-url('../fonts/BellGothicStd-Black1.svg#BellGothicStd-Black') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* FONTELLO EMAIL SYMBOL */
@font-face {
  font-family: 'icons';
  src: url('../fonts/fontello.eot?13948446');
  src: url('../fonts/fontello.eot?13948446#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?13948446') format('woff2'),
       url('../fonts/fontello.woff?13948446') format('woff'),
       url('../fonts/fontello.ttf?13948446') format('truetype'),
       url('../fonts/fontello.svg?13948446#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-mail:before { content: '\e800'; } /* '' */
.icon-mail-squared:before { content: '\e801'; } /* '' */
.icon-mail-1:before { content: '\e802'; } /* '' */
.icon-email:before { content: '\e803'; } /* '' */
.icon-mail-2:before { content: '\e804'; } /* '' */

/*//////////////////////////////////////*/
/*////////// BASIC HTML CODE ///////////*/
/*//////////////////////////////////////*/
html {
  font-family: "Bell-Gothic-Roman";
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 1.5em;
}
/*//////////////////////////////////////*/
/*/////// NAV BAR AND NAV ITEMS ////////*/
/*//////////////////////////////////////*/
nav {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;  
  height: 1.7em;
  background-color: rgba(255,255,255,0.7);
  color: black;
  padding-top: 1.9em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

nav a {
  color: hsla(210, 80%, 20%, 0.6);
  text-decoration: none;
  line-height: 1.9em;
  font-family: 'Bell-Gothic-Bold';
  font-size: 1.15em;
}

nav a:hover {
  color: hsla(210, 80%, 50%, 1);
  border-bottom: 1px solid aliceblue;
}

.nav-items {
  margin: 0 auto;
  padding: 0;
  margin-bottom: 1.5em;
  flex-wrap: nowrap;
  flex: 0 1 auto;
}

.logo {
  height: 40px;
}

.alt-logo {
  display: none;
}

h3 {
  font-family: 'Bell-Gothic-Light';
}

nav #current {
  border-bottom: 1px solid aliceblue;
}

/*///////////////////////////////////////////*/
/*////// PAGE TRANSITION FADE IN EFFECT /////*/
/*//////////////////////////////////////////*/

main {
  min-height: 100%;
  margin-bottom: -1.5em;
  overflow: auto;
  opacity: 0;

  -webkit-transition: opacity 3s ease-in;
     -moz-transition: opacity 3s ease-in;
      -ms-transition: opacity 3s ease-in;
       -o-transition: opacity 3s ease-in;
          transition: opacity 3s ease-in;
}

main.load {
  opacity: 1;
}

nav {
  opacity: 0;

  -webkit-transition: opacity 1.5s ease-in;
     -moz-transition: opacity 1.5s ease-in;
      -ms-transition: opacity 1.5s ease-in;
       -o-transition: opacity 1.5s ease-in;
          transition: opacity 1.5s ease-in;
}

nav.load {
  opacity: 1;
}


/*LOGO ANIMATION*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.logoanimated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
};

@-webkit-keyframes  fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/*///////////////////////////////
////////// FOOTER /////////////
/////////////////////////////*/

footer, main:after {
  height: 1.5em;
}

footer {
  background-color: black;
  text-align: left;
  padding-top: 1em;
  border-top: 1px solid hsla(210,0,100,0.6);
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1.5em;
  width: 100%;
  margin-bottom: -1.5em;
}

footer span {
  margin-left: 3.5em;
  font-size: 0.7em;
}

/*/////////////////////////////////////
////////// STATIC PAGES /////////////
///////////////////////////////////*/

h2#static {
  font-family: "Bell-Gothic-Roman";
  text-shadow: 2px 2px black;
  margin-bottom: 1.25em;
  text-align: center;

  /*margin-top: 4.5em;
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 0.2em;
  letter-spacing: 0.05em;
  word-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 2px 2px black;*/
}

section#about {
  background-color: hsla(210, 0%, 10%, 0.9);
  width: 80%;
  margin: 0 auto;
  padding: 1em;
  padding-top: 0.5em;
}

section#about p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

section#contact {
  background-color: hsla(210, 0%, 10%, 0.9);
  width: 80%;
  margin: 0 auto;
  padding: 1em;
  padding-top: 0.5em;
}

section#contact p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

address {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

address {
  font-family: "Bell-Gothic-Roman";
  font-style: normal;
}

address a {
  color: white;
  text-decoration: none;
}

form#donate {
  margin-right: auto;
  margin-left: auto;
}

i {
  font-family: 'icons';
  font-style: normal;
  font-size: 0.9em;
  color: white;
}

/*///////////////////////////////////////////*/
/*////////////// MEDIA QUERIES /////////////*/
/*/////////////////////////////////////////*/

@media (max-width: 700px) {
  nav a {
  line-height: 1.9em;
  font-family: 'Bell-Gothic-Bold';
  font-size: 0.8em;
  }

  .logo {
    height: 30px;
  }

  h3 {
  margin-top: 1em;
  font-size: 0.9em;
  /*margin-bottom: 0.2em;*/
  letter-spacing: 0.04em;
  word-spacing: 0.02em;
  }

  #inputwords {
  font-size: 1.5em;
  margin-bottom: 0.4em;
  border: 1px solid hsla(210, 25%, 50%, 1);
  border-radius: 5px;
  padding: .05em;
  width: 70%;
  }
}

@media (max-width: 450px) {
  #hamburger {
    display: block;
    margin-left: 1.5em;
    margin-bottom: 1.3em;
    width: 35px;
  }

 /* .nav-link {
    display: none;
  }*/
  nav {
    flex-direction: column;
    padding-top: 0.6em;
    justify-content: space-between;
    height: 5.5em;
    padding-bottom: 0.4em;
  }

  .logo {
    display: none;
  }

  .alt-logo {
    display: block;
    width: 8em;
  }

  nav a {
    line-height: 1em;
  }

  main {
    margin-top: 10em;
  }

  .nav-items {
    margin: 0;
  }
}