body {
	margin: 0;
	padding: 0;
	color: white;
}

main {
	margin-top: 6em;
 }

h1 {
	text-align: center;
}

#results {
	margin-left: 3em;
	padding-bottom: 4em;
}

span {
	text-transform: uppercase; 
	text-shadow: 1px 1px rgba(255,255,255, 0.5);
}

#resultsArray {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-end;
}

.result-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.img {
	max-height: 14rem;
	/*margin: 1rem;*/
}

.result-word {
	padding: 0;
	margin: 0;
	line-height: 0px;
	margin-bottom: 1em;
    font-size: 1.3em;
}

.single-gif {
	margin: 0 auto;
	border: 1px solid aliceblue;
  position: fixed;
  top: 72%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

h2#single-result {
	text-align: center;
	font-family: "Bell-Gothic-Black";
	text-shadow: 2px 2px black;
	text-transform: uppercase;
    margin: 0;
    padding: 0;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    // top: 40%
}

main#result {
	display: flex;
	flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 8em;
}