body {
	margin: 0;
	padding: 0;
	color: white;
}

main {
	margin-top: 6em;
 }

h1 {
	text-align: center;
}

/*#results {
	margin-left: 3em;
	padding-bottom: 4em;
}*/

span {
	text-transform: uppercase; 
	text-shadow: 1px 1px rgba(255,255,255, 0.5);
}

section#origin {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	flex-wrap: wrap;
    align-items: center;
}

section#origin h2 {
   margin-right: 2em;
	font-family: "Bell-Gothic-Roman";
	text-shadow: 2px 2px black;
	margin-bottom: 0;
}

section#origin h2 span {
   text-transform: uppercase;
   font-family: "Bell-Gothic-Black";
	text-shadow: 2px 2px black;
}

.origin-img {
	max-height: 14rem;
	border: 1px solid white;
	margin-top: 1em;
}

div#nogif {
	font-family: "Bell-Gothic-Roman";
	text-shadow: 2px 2px black;
	margin-right: 2em;
}

section#results-association {
	background-color: hsla(210,20,90,0.1);
	margin-bottom: 8em;
	padding-top: 1em;
	border-top: 1px solid hsla(210,0,100,0.6);
	border-bottom: 1px solid hsla(210,0,100,0.6);
	padding-left: 15px;
	padding-right: 15px;
}

h2#association {
	font-family: "Bell-Gothic-Roman";
	text-shadow: 2px 2px black;
	font-size: 1.6em;
	letter-spacing: 0.03em;
	word-spacing: .1em;
	text-align: center;
	margin-bottom: 1.8em;
	margin-top: 0.5em;
}

#resultsArray {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-end;
}

.result-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 3.5em;
}

div.result-container div.result-word a {
	text-decoration: none;
	text-transform: uppercase;
    font-family: "Bell-Gothic-Black";
    color: white;
	text-shadow: 2px 2px black;
}

div.result-container a:last-child {
	align-self: flex-end;
    margin-top: 0.5em;
}

div.result-container a img#download {
	height: 18px;
}

.img {
	max-height: 14rem;
	border: 1px solid white;
}

.result-word {
	padding: 0;
	margin: 0;
	line-height: 0px;
	margin-bottom: 1em;
    font-size: 1.3em;
}

.single-gif {
	margin: 0 auto;
	border: 1px solid aliceblue;
	flex: 0 1 auto;
	max-height: 725px;
	max-width: 650px;
}

h2#single-result {
	text-align: center;
	font-family: "Bell-Gothic-Black";
	text-shadow: 2px 2px black;
	text-transform: uppercase;
   margin: 1.5em;
	padding: 0;
	margin-bottom: 0em;
   margin-top: 0;
}

main#result {
	display: flex;
	flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 6em;
}

a#back {
	text-decoration: none;
	color: white;
    font-family: "Bell-Gothic-Roman";
    text-shadow: 2px 2px black;
    text-transform: uppercase;
    font-size: 0.8em;
    word-wrap: break-word;
}

a#back:hover {
 	color: hsla(210, 80%, 50%, 1);
  	text-decoration: underline;
  	text-decoration-line: underline;
  	-moz-text-decoration: underline;
  	-webkit-text-decoration: underline;

}

section#show-info {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

section#show-info a:last-child {
	align-self: flex-end;
    margin-top: 0.5em;
}

section#show-info a img#download {
	height: 23px;
}

@media (max-width: 700px) {
	.single-gif {
		max-height: 525px;
		max-width: 450px;
	}

	section#origin h2 {
    	margin-right: 0;
	}

	h2#association {
		font-size: 1.3em;
	}

}
